@use "../abstracts/" as *;

/* buttons */
.button {
    @include default-button();
    position: relative;
    z-index: 100;
}


.round-button {
    --_icon-size: var(--icon-size, #{rem(18)});

    display: grid;
    place-items: center;
    position: relative;

    padding: var(--button-size, em(14));

    background: $lg-pink;

    border-radius: 100%;
    box-shadow: 0px 4px 0px 2px $clr-dark-gray;

    &__icon {
        width: var(--_icon-size);
    } 

    &:hover, 
    &:focus {
        background: $lg-hover-overlay, $lg-pink;
    }

    // add additonal box-shadow on larger devices and make button larger
    @include mq-min($medium-screen-size) {
        --icon-size: #{em(21)};
        box-shadow: 0px 4px 0px 2px $clr-dark-gray,
        inset 0px -4px 0px 0px hsl(274, 91%, 57%);
    }
}


.burger-menu {
    --_burger-size: #{rem(30)};
    
    display: none;
    background: url("") no-repeat center;

    width: var(--_burger-size);
    aspect-ratio: 1;

    border: none;
    cursor: pointer;

    &[aria-expanded=true] {
        background: url("") no-repeat center;;
    }
}