@use '../abstracts/' as *;

.menu-header {  
    justify-content: space-between;
    align-items: center;

    // filler 
    @include mq-min($medium-screen-size) {
        &::after {
            content: "";
            display: inline-block;
            padding-inline: 2rem;
        }
    }
}


.game-header {
    justify-content: space-between;

    // left and right part of the header
    > div {
        align-items: center;
    }

    &__left {
        --gap: clamp(1rem, 3vw, #{rem(57)});
    }

    &__right {
        --gap: clamp(1rem, 3vw, #{rem(40)});
    }

    &__heart-icon {
        width: var(--icon-size, #{rem(26)}); 

        @include mq-min($medium-screen-size) {
            --icon-size: #{rem(53)};
        }
    }
}