@use '../abstracts/' as *;

.tutorial-cards {
    @include list($row: "false", $item-gap: rem(24), $off-markers: "true");
    grid-template-columns: 1fr;


    @include mq-min($medium-screen-size) {
        gap: rem(32);
    }

    @include mq-min($large-screen-size) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.category-list {
    @include list($row: "false", $item-gap: 1rem, $off-markers: "true");
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: clamp(1rem, 2vw, rem(50));
    column-gap: 2rem;

    &__category {
        @include text-button();
        font-size: $font-size-medium;
        border-radius: rem(20);
        aspect-ratio: 8 / 2;

        @include mq-min($medium-screen-size) {
            aspect-ratio: 8 / 4;
            border-radius: rem(40);
        }
    }
}