@use "../abstracts/" as *;

/* general */
body {
    position: relative;

    font-family: $font-family-primary;
    font-size: $font-size-base;

    background-image: url("/images/background-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;


    @include mq-min($medium-screen-size) {
        background-image: url("/images/background-tablet.svg");
    }

    @include mq-min($large-screen-size) {
        background-image: url("/images/background-desktop.svg");
    }
}


h1, .gradient-heading {
    @include heading($font-size: $font-size-h1);
    background: $lg-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h2 {
    text-transform: uppercase;
    font-size: $font-size-h2;
    color: $clr-dark-navy;
}


.backdrop::before {
    content: "";
    display: inline-block;

    position: absolute;
    inset: 0;
    z-index: -100;

    background: $lg-backgrop;
    opacity: .6;
}


.box-container {
    border-radius: var(--box-border-radius);
    background: var(--box-background, #{clr-blue});

    box-shadow: 
    0px 3px 0px 4px $sd-dark-blue,
    inset 0px 4px 0px 4px var(--button-inset-shadow, hsl(223, 100%, 62%));
}